body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}
.buttons {
  color: black;
  background-color: white;
  border: 1px solid grey;
  cursor: pointer;
  font-size: 16px;
}
.buttons:hover {
  color: black;
  background-color: #2196f3;
  border: 1px solid grey;
}
.buttons:focus {
  color: #2196f3;
}
.links:hover {
  color: black;
  background-color: #2196f3;
  border: 1px solid grey;
}
.links:focus {
  color: #2196f3;
}
.subtitle {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.links {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
}
.navigation {
  text-decoration: none;
}
.navigation:focus {
  color: #2196f3;
}
.contact {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
}
.contact:focus {
  color: #2196f3;
}
.list1 {
  list-style-type: none;
}
.list1:focus {
  color: #2196f3;
}
.webstudio {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #2196f3;
  font-size: 26px;
  line-height: 1.14;
}
.second-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.title {
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
}
