:root {
  --black-color: #212121;
  --blue-color: #2196f3;
  --gray-color: #757575;
  --dark-background-color: #2f303a;
  --white-color: #fff;
  --light-background-color: #f5f4fa;
  --dark-black-color: #000;
  --transparent-grey-color: rgba(255, 255, 255, 0.6);
  --top-bar-line: #ececec;
  --portfolio-bottom-border: #eeeeee;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
  font-size: 14px;
}

.logo {
  font-family: "Raleway", sans-serif;
}
.top-bar a {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.top-bar .navigation a {
  color: var(--black-color);
}
.contact a {
  color: var(--gray-color);
  text-decoration: none;
  font-style: normal;
}

.navigation a:hover,
.navigation a:focus,
.contact a:hover,
.contact a:focus,
.bottom-mail:hover,
.bottom-mail:focus,
.bottom-number:hover,
.bottom-number:focus {
  color: var(--blue-color);
  cursor: pointer;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
header .logo {
  color: var(--blue-color);
}
footer .logo {
  color: var(--blue-color);
}
.bottom-adress {
  text-decoration: none;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.bottom-mail,
.bottom-number {
  text-decoration: none;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--transparent-grey-color);
}
.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 4px;
  padding: 10px 0;
  width: 200px;
}
.order-button:hover,
.order-button:focus {
  cursor: pointer;
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.second-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}
.business-description-header {
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.business-description-paragraph {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
.employee-profile figcaption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.field-name {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  display: block;
  letter-spacing: 0.03em;
}
.team .field-name {
  text-align: center;
  line-height: 1.18;
}
.portfolio .field-name {
  text-align: start;
  line-height: 1.88;
}
.filter-button {
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  width: 121px;
  background: var(--light-background-color);
  border-radius: 4px;
  border: 0;
  padding: 6px 0;
  color: var(--black-color);
}
.filter-button-list {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
}
.filter-button:hover,
.filter-button:focus {
  color: #fff;
  background-color: var(--blue-color);
  cursor: pointer;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.bottom {
  background-color: var(--dark-background-color);
}
.main-header-box {
  color: #fff;
  background-color: #2f303a;
  height: 600px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36em;
  text-align: center;
  text-transform: uppercase;
  padding: 275px 0px 0px 0px;
}
