body {
  font-family: "Roboto", sans-serif;
  background-color: aliceblue;
}
main button {
  color: black;
  background-color: white;
  border: 1px solid grey;
}
.przyciski button:hover {
  color: black;
  background-color: blue;
  border: 1px solid grey;
}
body :focus {
  outline: none;
  background-color: blue;
}
a:hover {
  color: black;
  background-color: blue;
  border: 1px solid grey;
}
.przyciski {
  cursor: pointer;
}
