body {
  font-family: "Roboto", sans-serif;
  background-color: aliceblue;
}
main button {
  color: black;
  background-color: white;
  border: 1px solid grey;
}
main button:hover {
  color: black;
  background-color: blue;
  border: 1px solid grey;
}
nav a:focus {
  outline: none;
  background-color: blue;
}
